{% extends 'base.html.twig' %}
{% block title %}Centre de Naturopathie de vitalité et de bien-être Mélanie Obringer{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 98%; width: 98%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<div class="mt-5 row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><h1 class="purple text-center specialfont">Mélanie Obringer Naturopathe</h1></div>

<div class="col-lg-3 col-md-10 col-sm-12 col-xs-12">
    <a class="btn btn-perso spec" href="{{path('contact')}}">Un RDV </a>
 </div></div>
 <div class="row">
   <div class="mb-4 col-lg-10 col-md-12 col-sm-12 col-xs-12"><h4 class="mb-4 text-center">Votre thérapeute certifiée à Forbach</h4></div>
 </div>
 <div class="row">
 <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1"></div>
   <div class="col-lg-5 col-md-10 col-sm-10 col-xs-12"><h4 class="text-center">Membre du SPN </h4>
  
<h4 class="text-center">(Syndicat professionnel de Naturopathie)</h4>
 
 
 </div>
 <div class="col-lg-5 col-md-10 col-sm-12 col-xs-12">
    <a href="https://syndicat-naturopathie.fr/">https://syndicat-naturopathie.fr/</a>
  <a href="https://syndicat-naturopathie.fr/"><img src="../images/logoSPN.png" alt="../images/logoSPN.png" style="width:12%;"> </a>
   </div>
 </div>
 
 
 <hr>
{##}
<!--slider-->
<div class="row mx-auto">
  <div class="ml-1 mr-1 col-lg-10 col-md-10 col-sm-10 col-xs-12 mx-auto">
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
         
        </ol>
        <div class="carousel-inner">
        
      {% for carouselactive in carouselactive %}
           <div class=" mx-auto carousel-item active bd" data-interval="4000">   
            <img src="{{ carouselactive.srcimagecarousel}}" class="mx-auto d-block  slider" alt="{{ carouselactive.srcimagecarousel}}" style="width:100%;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-title" style="color:rgb(255, 29, 217);;font-size:2em;margin-top:-36%">{{carouselactive.titlecarousel}}
                </h5>
                <p class="pcarousel" style="color:rgb(255, 29, 217);margin-top:1%;">{{carouselactive.descriptioncarousel}}
                </p>
              </div>
          </div>
      
      {% endfor %}
              
      {% for carousel in carousel %}
      <div class="carousel-item bd" data-interval="5000">  
              <img src="{{carousel.srcimagecarousel}}" class="mx-auto d-block slider" alt="{{carousel.srcimagecarousel}}" style="width:100%;">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="carousel-title" style="color:rgb(255, 29, 217);font-size:2em;margin-top:-36%;">{{carousel.titlecarousel}}</h5>
                <p class="pcarousel" style="color:rgb(255, 29, 217);margin-top:1%;">{{carousel.descriptioncarousel}}</p>
            </div>
          </div>
            
      {% endfor %}
    
        </div>
          <a class="carousel-control-prev " href="#carouselExampleCaptions" role="button" data-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:rgb(79, 231, 104) !impor"></span>
            <span class="sr-only" >Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" style="font:orange!important;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only" >Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
 
      <!--//slider-->
{##}
  
<div class="row">
<div class="col-lg-10 ">
<div class="mt-5 row">
<div class="col-1"></div>
    <div class="col-lg-11 col-sm-11 col-md-11 col-xs-11 puce">
<h2 class="mb-5 text-center" style="font-size:4vw;margin-top:2%;">Spécialiste en réflexologie</h2></div></div>

<div class="row">
  <div class="col-lg-1  col-sm-1  col-md-1"></div>
 <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8">
        
    
      <p class="puce" style="" >Conseillère en naturopathie, <br>Je vous propose mes service à Forbach et à domicile.<br>Ensemble nous trouverons le chemin de votre bien être définitif.<br>Bien à vous Mélanie Obringer.</p><br><br>
      <p class="mx-auto" style="color:cornflowerblue;" >Massages certifiés islaVerde.</p>
      <img src="{{asset('./images/islaverde.jpg')}}" alt="{{asset('./images/islaverde.jpg')}}" style="width:73%;">
      </div>
   
   
    <div class="col-xs-2"></div>

 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
       <div class="cardcv card hovercard" style=" ">
                <div class="cardheader">

                </div>
                <div class="avatar" >
                    <img class="text-center melanie mt-2  " src="{{asset('./images/melanie.jpg')}}"  alt="{{asset('./images/melanie.jpg')}}" style="border:double 3px black ;border-radius:50%;margin-left:25%;">
                </div>
                <div class="mb-3 info">
                    <div class="title">
                        <div class="cvfont text-center mt-3" ><h3 class="titlecard" style="color:purple;">Mélanie</h3></div>
                    </div>
                    <div class=" mt-5  hauteur text-center desc cvfont">Issue d'une école membre spn</div>
                    <div class="cvfont text-center desc" >Certificat de réflexologue</div>
                    <div class="cvfont text-center desc" >Certifiée par l'école française de magnétisme</div>
                     <div class="cvfont text-center desc " style="">Certification en Auriculothérapie</div>
                      <div class="cvfont text-center desc" >Mes massages haut de gamme sont certifiées isla verde spa trainning academy.</div>
                    
                </div>
               
            </div>

        </div>
        


      
      {#}{#}
      
        </div>

      {#}{#}
      {#}
        <div class="card-body border border-info rounded-lg">
        <h6 class="card-title text-center "><div class="ml-3 badge badge-primary text-wrap" style="width: 4rem;"><i class="fas fa-user-tie fa-2x"></i>
 
</div>  :Mélanie  <img class="rounded-pill melanie mt-2 img-fluid " src="{{asset('./images/melanie.jpg')}}"  alt="{{asset('./images/melanie.jpg')}}" ></h6>
        <p class="card-text">Issue d'une école membre spn <br> 
       Certificat de réflexologue <br>
       Certifiée par l'école française de magnétisme <br>
       Certification en Auriculothérapie<br>
       Tout mes massages haut de gamme sont certifiées isla verde</p>
        <p class="card-text"><small class="text-muted">modifier vos données: </small><a href={#}{#{ path('user_edit', {'id': app.user.id}) }#} {#}class="ml-3 badge badge-primary text-wrap" style="width: 4rem;">
  Compte
</a> </p>
      </div>
    </div>{#}
 
 
</div>
</div>


</div>
<div class="row">
    <div class="mt-4 col-10 offset-1">
<h2 class="text-center">La naturopathie</h2>
<p class="puce">Un concept préventif



Aujourd’hui  l’O.M.S.  définit  la vitalité pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques''.

La naturopathie va bien au-delà de cette définition, pour faire simple elle défend votre  « capital »   qui repose sur l’art d’être acteur de son bien être et prendre soin de soi par des moyens naturels.

La naturopathie englobe l’individu sur tous les plans de l’être.
-physique, énergétique, émotionnel, mental,  spirituel, socioculturel et même planétaire (écologie).

On peut donc en conclure que la naturopathie a pour mission de prévenir la maladie, de conserver la vitalité, ou de l’optimiser par un mode de vie plus sain.</p></div>
</div>
<div class="row">
<div class="col-8 offset-2">
<h4 class="ml-4 mr-4" style="color:purple;">La naturopathie contribue ainsi à la promotion d’une vitalité globale et durable, elle s’inscrit en parfaite complémentarité avec les autres pratiques sanitaires et/ou paramédicales.</h4>
</div></div>
<hr>
<div class="row">
<div class="col-10 offset-1">
<h2 class="text-center">Services : </h2>
<div class="mt-5 row">
    <div class="col-lg-12 puce">
        <div class="row">
            <div class="  col-lg-4 col-sm-12 col-md-12 col-xs-12  text-center"> Massages aux Pierres Chaudes 
                <div class="mt-3 col-12">
                    <img class="vignette" src="{{asset('./images/massage-pierre.jpg')}}"  alt="{{asset('./images/massage-pierre.jpg')}}" >
                </div></div>
            
  <div class="  col-lg-4 col-sm-12 col-md-12 col-xs-12  text-center">Luminothérapie
      <div class="mt-3 col-12">
      <img class="vignette" src="{{asset('./images/lumino.jpg')}}"  alt="{{asset('./images/lumino.jpg')}}">
       </div>
      </div>
  <div class=" col-lg-4 col-sm-12 col-md-12 col-xs-12 text-center">Massages Siam
      <div class="mt-3 col-12">
      <img class="vignette" src="{{asset('./images/massages_siam.jpg')}}"  alt="{{asset('./images/massages_siam.jpg')}}" >
       </div>
</div></div></div></div></div></div>

<div class="mt-5 row">
    <div class="col-12 puce">
        <div class="row">
            <div class="  col-lg-4 col-sm-12 col-md-12 col-xs-12  text-center"> Auriculothérapie 
                <div class="mt-3 col-12">
                    <img class="vignette" src="{{asset('./images/auriculotherapie2.jpeg')}}"  alt="{{asset('./images/auriculotherapie2.jpeg')}}" >
                </div></div>
            
  <div class="  col-lg-4 col-sm-12 col-md-12 col-xs-12  text-center">Magnétisme
      <div class="mt-3 col-12">
      <img class="vignette" src="{{asset('./images/magnetisme.jpg')}}"  alt="{{asset('./images/magnetisme.jpg')}}" >
       </div>
      </div>
  <div class="  col-lg-4 col-sm-12 col-md-12 col-xs-12 text-center">Tabacologie
      <div class="mt-3 col-12">
      <img class="vignette" src="{{asset('./images/tabacologie.jpg')}}"  alt="{{asset('./images/tabacologie.jpg')}}" >
       </div>
</div></div></div></div><hr style="border:3px double;max-width:50%;">
<div class="mx-auto row">
<div class=" mx-auto col-lg-10 col-md-10 col-sm-12 col-xs-12">
<p class="text-center citation ">Que ton aliment soit ton seul médicament</p>
<hr style="max-width:60%;border:3px double;">
<p class="text-center citation ">Lorsque l'alimentation est mauvaise les médicaments ne sont pas utiles , et lorsque l'alimentation est bonne les médicaments sont inutiles!</p>
</div></div>
<div class="row">
<div class="col-4"></div>
<div class="text-center my-2 col-lg-4 col-md-12 col-sm-12 col-xs-12"><a class="btn btn-perso" href="{{path('prestations')}}">En voir plus </a></div>
<div class="col-4"></div>
</div>


<br><br><br><br><br><br><br><br><br>
{% endblock %}
