{% extends 'base.html.twig' %}

{% block title %}Blog !{% endblock %}

{% block body %}
<div class="row">
     <div class="col-2"></div>
     <div class="col-8">
<a class="btn btn-info" href="{{ path('blog_new') }}"><i class="fa fa-edit"></i> écrire un article</a>
 <a class="float-right btn btn-info" href="{{ path('user_oneblog_show',{'id': userid}) }}
"><i class="fa fa-sync"></i> Modifier un de vos article(s)</a>

     </div>
     <div class="col-2"></div>
</div>


 
 
     
 
  
     
  
 
{% for blog in blogs %}

<div class="container">




 
    
<div class="row">
<article style="color:purple">

<div class="col-12">
<h2 class="mt-5 mb-5 text-center">{{blog.title}}</h2>
</div>
<div class="row">
<div class="mt-4 mb-4 col-6">article de : {{blog.user.name}}</div>
<div class="mt-4 mb-4 col-6">écrit le : {{ blog.createdAt ? blog.createdAt|date('d-m-Y' ) : '' }} à : {{ blog.createdAt ? blog.createdAt|date('H:i:s' ) : '' }}</div>
</div>
<div class="row">
<div class="col-6" style="margin-top:5%;">{{blog.texte|raw}}

</div>
<div class="col-6"><img class="img-fluid" src="../uploads/images/{{blog.imagesrc}}" alt="../uploads/images/{{blog.imagesrc}}">
</div>
</div>
</article>
</div>
    
   

{% endfor %}

</div><br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
