{% extends 'base.html.twig' %}

{% block title %}Carousel index{% endblock %}

{% block body %}
    <h1>Carousel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Srcimagecarousel</th>
                <th>Descriptioncarousel</th>
                <th>Titlecarousel</th>
                <th>Categories</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                <td>{{ carousel.id }}</td>
                <td>{{ carousel.name }}</td>
                <td>{{ carousel.srcimagecarousel }}</td>
                <td>{{ carousel.descriptioncarousel }}</td>
                <td>{{ carousel.titlecarousel }}</td>
                <td>{{ carousel.categories }}</td>
                <td>{{ carousel.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('carousel_show', {'id': carousel.id}) }}">show</a>
                    <a href="{{ path('carousel_edit', {'id': carousel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carousel_new') }}">Create new</a>
{% endblock %}
