{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <h1>Prestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ prestation.title }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ prestation.time }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ prestation.price }}</td>
            </tr>
            <tr>
                <th>Srcimage</th>
                <td>{{ prestation.srcimage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ prestation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestation_index') }}">back to list</a>

    <a href="{{ path('prestation_edit', {'id': prestation.id}) }}">edit</a>

    {{ include('admin/prestation/_delete_form.html.twig') }}
{% endblock %}
