{{ form_start(form) }}
    
     {{ form_row(form.title) }}
      {{ form_row(form.created_at) }}
       {{ form_row(form.texte) }}
        {{ form_row(form.imagesrc) }}


    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
