{% extends 'base.html.twig' %}

{% block title %}Blog !{% endblock %}

{% block body %}

<a class="btn btn-info" href="{{ path('blog_new') }}">ecrire un article</a>

 
 
     
 
  
     <a class="btn btn-info" href="{{ path('user_oneblog_show',{'id': userid}) }}
">Modifier un de vos article(s)</a> 
  
 
{% for blog in blogs %}

<div class="container">




 
    
<div class="row">
<article style="color:purple">

<div class="col-12">
<h2 class="text-center">{{blog.title}}</h2>
</div>
<div class="col-6">ecrit par : {{blog.user.name}}</div>
<div class="col-6">écrit le : {{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</div>
<div class="col-8">{{blog.texte}}

</div>
<div class="col-4"><img class="img-fluid" src="/../images/{{blog.imagesrc}}" alt="/../images/{{blog.imagesrc}}">
</div>
</article>
</div>
    
   

{% endfor %}

</div>
{% endblock %}
