{% extends 'base.html.twig' %}

{% block title %}Seances tarifs!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 98%; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center" style="color:#c40a92">Les Séances & Prestations</h1>
    
  

<br> {% for prestation in prestations %}
<!-- Modal -->
<div class="modal fade mod{{prestation.id}} " data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel" style="color:#c40a92;">{{prestation.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{prestation.srcimage}}" class="img-fluid card-img-top " alt="{{prestation.srcimage}}" style="margin-left:20%;max-height:220px;max-width:260px;">
        <p class=" card-text" style="color:#c40a92;
 ;">{{prestation.description}}</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Fermer</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
 
</div>{% endfor %}
<div class="row mt-5 ">
   
   
      
  
     {##}{% for prestation in prestations %}
      <div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12">
      
   <h3 class="mb-4 puce text-center" ><u style="color:#c40a92;">{{prestation.title}}</u></h3> 
        <div class="mt-4 card mx-auto mb-2" style="width:18rem;border:0.3px solid grey;">
            <img src="{{prestation.srcimage}}" class="img-fluid card-img-top" alt="{{prestation.srcimage}}" style="max-height:220px;">
                <div class="card-body">
                   {# <h6>{{ newproducts.id }}</h6>#}
           <h5 class="text-secondary card-title" style="color:purple !important;">{{prestation.title}}</h5>
          
            <p class="text-secondary card-text">prix:<span style="font-style:upercase;color:   #000000;
 ;"><b> {{prestation.price}} €</b></span> Durée : <span style="font-style:upercase;color:   #000000;
 ;">{{prestation.time}}</span></p>
                   
            <a href="{#{path('cart_add', {'id': newproducts.id})}#}" class="btn btn-perso mx-auto " aria-pressed="false" data-toggle="modal" data-target=".mod{{prestation.id}}">
            <i class="fas fa-info mr-1"></i>
            infos</a> 
            </div> 
          </div>
        </div>
     {##}  

{% endfor %}
      
 
  
 
 









      </div> 
  
</div>
<br><br><br>
<br>
<br>
<br>
{% endblock %}
