{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 98%; width: 98%; font: 18px/1.5 sans-serif; }
    
</style>

<div class="example-wrapper">
  
 


<h2 class="text-center">Prendre Rendez-vous ,Contact </h2>
 {% for message in app.flashes('message') %}
            <div  class="message alert alert-success alert-dismissible fade show" id="message">
                {{ message }}
            </div>
        {% endfor %}
<p class="text-center puce">
Pour toute demande prise de rendez-vous ou suggestions n'hésitez pas à me contacter via le formulaire ci-dessous ou par téléphone.</p>
<div class="puce row mb-4">
   
          <div class="mb-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4 class="mb-5 text-center"><i class="fa fa-paper-plane"></i> formulaire de contact</h4>
          
            <div class="col-lg-11 col-md-10 col-sm-8 col-xs-8">
<div class="mb-5 ml-4">
  {#{ form_start(form) }}
   {{ form_row(form.nom) }}
   {{ form_row(form.mail) }}
   {{ form_row(form.telephone) }}
   {{ form_row(form.sujet) }}
   {{ form_row(form.message) }}
  
   
    {{ form_end(form) }}
    {{ form_start(form) }#}
    {#{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}#}
    {{form(form)}}
   

</div></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
             <h4 class="text-center"><i class="far fa-envelope"></i> Adresse</h4>
           <p class="mt-3 text-center"> MELANIE OBRINGER NATUROPATHE <br>
147 Rue Nationale,<br>
57600-FORBACH<br>
<i class="fas fa-phone"></i> 06 70 20 51 58<br><p></div>

<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><h4 class=" text-center"><i class="far fa-clock"></i> Les Horaires</h4>
<div class="text-center col-12">

Du Lundi au Samedi sur RDV !<br>


</div>
</div>
</div>
 <div class=" mt-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4 class="text-center "><i class="fas fa-crosshairs"></i> La carte</h4>
    </div>
    <div class="mt-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
   
     <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2607.821457547348!2d6.893623215658532!3d49.18497448560981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x4795b2eb55a5bc75%3A0x5c349bfeaa3c91!2s147%20Rue%20Nationale%2C%2057600%20Forbach!3m2!1d49.184971!2d6.8958119!5e0!3m2!1sfr!2sfr!4v1591908810445!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;max-width=600px;width:96%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
     </div>
        </div>
    </div>
</div>
<div class="puce col-10 offset-1">
* Ces champs sont obligatoires
Nous nous engageons à ce que la collecte et le traitement de vos données, effectués à partir de notre site, soient conformes au règlement général sur la protection des données (RGPD) et à la loi Informatique et Libertés. Pour connaître et exercer vos droits, notamment de retrait de votre consentement à l'utilisation des données collectées par ce formulaire, 
conformément à la loi Informatique et Libertés en date du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en nous envoyant un courrier électronique ou postal.</div>
<br><br><br><br><br><br>


</div>
{% endblock %}
