<!DOCTYPE html>
<html>
  <html lang="{{ app.request.locale }}">

    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{% block title %}Cabinet de Naturopathie et centre de vitalité,bien-être Mélanie Obringer  !{% endblock %}</title>
      {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
      {% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('./images/obringer.ico') }}" />
    </head>

    <body>
      {# start nav bar#}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <p style="font-size:0.7rem;"><a class=" entete navbar-brand" style="font-size:1.5em;" href="{{ path('home') }}"><img src="{{asset('./images/logo_obringer.png')}}" alt="{{asset('./images/logo_obringer.png')}}" style="width:12%;"> Cabinet de Naturopathie de vitalité ,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;et bien-être Mélanie Obringer</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto" style="margin-left:-16%;">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('home') }}"> <i class="fas fa-home"></i>Accueil </a>
            </li>
            {##}
            <li class="nav-item">
            <div class="dropdown">
              <a class=" nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="display" href="{{path('photo')}}">
                <i class="fas fa-camera"></i>  Photos / Avis
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{path('photo')}}">
                <i class="fas fa-camera"></i> Photos</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('home_avis') }}">
                  <i class="far fa-edit"></i> Les Avis</a>
            
              <div class="dropdown-divider"></div>
                <a class=" dropdown-item" href="{{ path('video') }}">
                  <i class="text-center fas fa-video"></i> Video</a>
              </div>
            </div>
          </li>
            {##}
           
            <li class="nav-item">
              <a class="nav-link" href="{{ path('prestations') }}"><i class="text-center fas fa-comments-dollar"></i> Séances & Tarifs</a>
            </li>
              <li class="nav-item">
              <a class="nav-link"  href="{{ path('cabinet') }}"><i class="text-center fas fa-couch"></i> Cabinet</a>
            </li>
             <li class="nav-item">
              <a class="nav-link"  href="{{ path('contact') }}"><i class="text-center fas fa-location-arrow"></i> Contact</a>
            </li>
            
          
            {% if not app.user %}
            {#<li class="nav-item ">
              <a class="nav-link" href="{{path('registration')}}">Inscription </a>
            </li>#}

            {% else %}
            {#<li class="nav-item">
              <a class="nav-link" href="{{ path('user_show', {'id': app.user.id}) }}">Mon compte</a>
            </li>#}

            {% endif %}

          </ul>



          {% if app.user.roles is defined %}

          {% if is_granted ('ROLE_ADMIN') == false %}

         
          <li class=" navbar-nav nav-item">
            <span style="color:orange;font-size:1.6em;float:left">{{ app.user.name }}</span>
            <img src="{{ asset('avatar.png') }}" style="color:orange;heigth:2em;width:3em;margin-left:6%">
          </li>

          {% else %}
       
          <li class=" navbar-nav nav-item ">
 <a    href="{{path('admin')}}">
            <span style="color:lightgreen;font-size:1.6em;float:left">{{ app.user.name }}</span>
            <img src="{{ asset('avatar.png') }}" style="color:lightgreen;heigth:2em;width:3em;margin-left:6%"></a>
          </li>
          {% endif %}


          {% endif %}

          {% if not app.user %}
          {##}
            <li class="nav-item navbar-nav ">
            <div class="dropdown">
              <a class=" nav-link dropdown-toggle dropdown-toggle-split" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ path('app_login') }}">
                <i class="fas fa-lock"></i>  Connexion / Inscription
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            
                <a class="dropdown-item" href="{{ path('app_login') }}">
                  <i class="fab fa-expeditedssl"></i> Connexion</a>
              <div class="dropdown-divider"></div>
                <a class=" dropdown-item" href="{{ path('registration') }}">
                  <i class="text-center fas fa-users"></i> Inscription</a>
              <div class="dropdown-divider"></div>
                <a class=" dropdown-item" href="{{ path('app_login') }}">
                  <i class="fab fa-expeditedssl"></i> Admin</a>
              </div>
            </div>
          </li>
          {##}
         
          {% else %}
          <li class=" navbar-nav nav-item">
            <a href="{{ path ("app_logout") }}">
              <button class="btn  btn-perso ml-3 my-sm-0" type="button"
                placeholder="deconnexion"><i class="fas fa-share-square"></i> déconnexion
              </button>
            </a>
          </li>
          {% endif %}

        </div>

      </nav>
      {# end nav bar#}

{#<button onclick="{{asset('topFunction()')}}" id="myBtn" title="Go to top">#}
 <button onclick='topFunction()' id="myBtn"  title="Go to top" >&#10148;

</button> 
      {% block body %}{% endblock %}

      {% block footer %}
      <footer class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="row footrow plus">
            <div class="mt-5 text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a class="foot-link " href="https://www.facebook.com/Naturopathemelanieobringer/" style="color:lightgreen;font-size:1.3rem;"><i class="fab fa-facebook fa-2x" ></i>
          </a>
        
        
          <p class="foot-link">&copy; 01-07-2020 - Obringer </p>
        
        </div>
        <div class="text-center col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <p class="foot-link">
          <a href="{{path('rgpd')}}" style="color:white;">Mentions_legales</a>
          </a> </p>
          
        </div>
      </div>
    
      
    
  </nav>
</footer>
              
              
                

      {% endblock %}
      {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
       <script src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js'></script>
       <script src="/../js/cookieschoices.js"></script>
       <script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.', 'J’accepte', 'En savoir plus', 'http://www.obringer-melanie-naturopathe.fr/mentions_legales/');});</script>
       
        

   <script src="./../js/scrool-up.js"></script>

      {% endblock %}
    </body>

  </html>