{% extends 'base.html.twig' %}

{% block title %}Cabinet index{% endblock %}

{% block body %}
    <h1>Cabinet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Imagesrc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cabinet in cabinets %}
            <tr>
                <td>{{ cabinet.id }}</td>
                <td>{{ cabinet.name }}</td>
                <td>{{ cabinet.description }}</td>
                <td>{{ cabinet.imagesrc }}</td>
                <td>
                    <a href="{{ path('cabinet_show', {'id': cabinet.id}) }}">show</a>
                    <a href="{{ path('cabinet_edit', {'id': cabinet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cabinet_new') }}">Create new</a>
{% endblock %}
